{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPN Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'pritunl_api/style.css' %}">
</head>

<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-sm bg-body-tertiary">
            <div class="container-xxl">
                <a class="navbar-brand">VPN Manager</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.view_name == 'pritunl_api:users-organizations-view' %}active{% endif %}"
                            aria-current="page" href="{% url 'pritunl_api:users-organizations-view' %}">Users and
                            Organizations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.view_name == 'pritunl_api:servers-view' %}active{% endif %}"
                            aria-current="page" href="{% url 'pritunl_api:servers-view' %}">Servers</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="main-container" class="container-xxl">
        {% block content %}{% endblock content %}
        
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-header" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modal-header"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal-body"></div>
                    <div class="modal-footer" id="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="{% static 'pritunl_api/api_calls.js' %}" defer></script>
    <script src="{% static 'pritunl_api/helpers.js' %}" defer></script>
    <script src="{% static 'pritunl_api/form_modals.js' %}" defer></script>
    {% block js_scripts %}{% endblock js_scripts %}
</body>

</html>