{% extends "pritunl_api/base.html" %}
{% load static %}

{% block content %}
<h1>Servers</h1>

<div class="row">
    <div class="col-3">
        <button type="button" id="btn-add-server" class="btn btn-primary w-100">Add Server</button>
    </div>
    <div class="col-3">
        <button type="button" id="btn-add-route" class="btn btn-primary w-100">Add Route</button>
    </div>
    <div class="col-3">
        <button type="button" id="btn-attach-org" class="btn btn-primary w-100">Attach Organization</button>
    </div>
</div>

<div id="server-container"></div>
{% endblock content %}

{% block js_scripts %}
<script src="{% static 'pritunl_api/servers.js' %}" defer></script>
{% endblock js_scripts %}