{% extends "pritunl_api/base.html" %}
{% load static %}

{% block content %}
<h1>Users and Organizations</h1>

<div class="row">
    <div class="col-3">
        <button type="button" id="btn-add-org" class="btn btn-primary w-100">Add Organization</button>
    </div>
    <div class="col-3">
        <button type="button" id="btn-add-user" class="btn btn-primary w-100">Add User</button>
    </div>
</div>

<div id="org-container"></div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-header" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-header"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <form id="form"></form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="form" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'pritunl_api/users_organizations.js' %}" defer></script>
{% endblock js_scripts %}